@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: montserrat, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F4E6D5;
}

header {
    background-color: #F4E6D5;
    margin: 0;
    padding: 10px 0;
}

header img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

header img:hover {
    cursor: pointer;
}

.input-wrapper {
    background-color: white;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)
}

.input-wrapper input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    outline: none;
    width: 400px;
}

.input-wrapper input {
    cursor: text;
}

.input-wrapper i:hover {
    cursor: pointer;
}

.principal {
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    gap: 200px;
}

.nav-header-1 ul {
    list-style-type: none;
    display: flex;
    gap: 80px;
}

.nav-header-1 ul li a {
    text-decoration: none;
    color: #994644;
}

.nav-header-1 ul li a:hover {
    cursor: pointer; 
}

.nav-header-2 ul {
    list-style-type: none;
    display: flex;
    gap: 80px;
}

.nav-header-2 ul li a {
    text-decoration: none;
    color: #994644;
}

.nav-header-2 ul li a:hover {
    cursor: pointer; 
}



footer {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #994644;
    padding: 20px;
    border-radius: 20px 20px 0 0 ;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.rede-social {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: small;
}

.rede-social i {
    cursor: pointer;
}

.rede-social a {
    text-decoration: none;
    color: #fff;
}

.rede-social p {
    cursor: default;
}

.copyright {
    background-color: #994644;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px 0 40px;
    color: #fff;
    font-size: small;
}